@import "components/harp-bourbon/scss/bourbon";
@import "settings/typography";
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;
@import "components/base/base";
@import "components/harp-neat/scss/neat";


// colors
$story-text: #646E79;

// layout
$story-gutter: 4em;

// composants custom
@import "components/header";
@import "components/footer";
@import "components/buttons";

// Sections
@import "sections/heros";
@import "sections/baseline";
@import "sections/illustration";
@import "sections/triple";


body{
	background: #fff;
	color: $story-text;
	margin: 0;
}
.inner{
	@include outer-container;
}

.howto{
	background: #333;
	color: white;
	.inner{
		padding: 5em 3em;
	}
}

#page{
	width: 300px;
	height: 530px;
	margin-left: -60px;
}

.imac{
	display: inline-block;
	position: relative;
}
#imac{
	width: 500px;
	height: 306px;
	display: block;
}
#imacbottom{
	width: 500px;
	height: 106px;
	display: block;
}

#browser{
	width: 400px;
	height: 250px;
	position: absolute;
	top: 40px;
	left: 45px;
}