main
	.instructions
		.inner

			div.vertical-tabs-container
				div.vertical-tabs

					a.js-vertical-tab.vertical-tab.is-active(href='javascript:void(0)', rel='tab0') Getting Started
					a.js-vertical-tab.vertical-tab(href='javascript:void(0)', rel='tab1') Installation
					a.js-vertical-tab.vertical-tab(href='javascript:void(0)', rel='tab2') Macro-template
					a.js-vertical-tab.vertical-tab(href='javascript:void(0)', rel='tab3') Contribuer

				div.vertical-tab-content-container

					a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active(href='', rel='tab0') Item 0
					div#tab0.js-vertical-tab-content.vertical-tab-content
						
						a(class="button story", href="https://github.com/dmassiani/WordPress-Storytelling/archive/master.zip") 
							| Download Storytelling
						
						h2 Install Plugins
						p Activate plugin in your WordPress admin

						h2 Added a new page
						p Create story with Storytelling default template

						h2 Add this code in template page or post
						pre
							code.language-php
								| &lt;?php the_story(); ?&gt;
						
					a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading(href='', rel='tab1') Item 1
					div#tab1.js-vertical-tab-content.vertical-tab-content
						
						h1 Installation
						h2 Github method

						p 
							| Clone project via github to yours plugins wordpress install
							| (recommanded method for contributing)
							pre
								code.language-php git clone https://github.com/dmassiani/WordPress-Storytelling.git
						p
							| then activate them

						h2 Via WordPress Plugins
						p
							| Go to your admin and find "Storytelling"
							| or go to 
							a(href="/")
								| WordPress plugins
						p
							| then activate them

						h2 Manually
						p
							| Download 
							a(href="https://github.com/dmassiani/WordPress-Storytelling/archive/master.zip") zip 
							| and extract to yours plugins folder
						p
							| then activate them

					a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading(href='', rel='tab2') Item 2
					div#tab2.js-vertical-tab-content.vertical-tab-content
						
						h1 Macro template
						p
							| Macro template is another way to building awesome stories with WordPress.
						p
							| You define a macro-template with your needed content, title, editor or image.
						p
							| In the same macro-template, you writing your chapter, extract 
						p
							| Now your project is structured. It is usefull for SASS or LESS project.

					a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading(href='', rel='tab3') Item 3
					div#tab3.js-vertical-tab-content.vertical-tab-content
						p
							| Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.

