main.services{
	.hero{
		$hero-background-top: $qerto-bleu-soft; 
		$hero-background-bottom: $qerto-bleu-soft;
		$gradient-angle: 0deg;
		$hero-image: '/images/Ordi-1.png';

		@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		padding-bottom: 4em;
		.hero-inner{
			color: white;
			padding: 8em 0 3.4em 0;
		}
		h2{
			text-transform: inherit;
			font-weight: 100;
		}
	}
	.hero-inner{
		.hero-copy{
			@include span-columns(6);
			text-align: left;
			padding-left: 2em;
			p {
				@include omega;
				font-family: $serif;
				margin: auto;
				margin-bottom: 3em; 
				font-weight: 200;
				line-height: 1.4em;
				max-width: 100%;

			}
			a.button{
				margin-top: 1em;
			}
		}
	}

	// iullustrration gauche
	.side-image.gauche{
		background: white;
		.images-wrapper {
			background: white;
			position: relative;
			img{
				position: absolute;
				right: 0;
				top: 8em;
			}
		}

	  .images-wrapper {
	    @include media($large-screen) {
	      @include span-columns(4);
	      background-position: bottom;
	      background-size: cover;
	    }
	  }

	  .content {
	    @include span-columns(12);
	    padding: 1em 1em 4em 1em;

	    @include media($large-screen) {
	      @include span-columns(8);
	      padding: 10em 8em 10em 4em;
	    }
	  }
	}

	// illustraytiob droitz
	.side-image.droite{
		background: $qerto-bleu-soft;
		color: white;
		padding-bottom: 100px;
		.images-wrapper {
			background: none;
			position: relative;
			img{
				position: absolute;
				right: 0;
				top: 8em;
			}
		}

	  .images-wrapper {
	      @include span-columns(4);
	      @include omega;
	      background-position: bottom;
	      background-size: cover;
	  }

	  .content {

	      @include span-columns(8);
	      padding: 10em 8em 10em 4em;

	  }
	}

	.triple.white{
		.solution{
			text-align: center;
		}
		a.button{
			margin: 4em 0 3em;
		}
	}
	.bullets{
		text-align: center;
	}

}