main.content.homepage
	!= partial("sections/_heros-homepage")
	!= partial("sections/_baseline-grey-homepage")
	!= partial("sections/_double-bleu-soft-homepage")
	!= partial("sections/_illustration-droite-homepage")
	!= partial("sections/_illustration-gauche-homepage")
	!= partial("sections/_triple-grey-homepage")
	!= partial("sections/_baseline-blue-homepage")