main
	.hero
		.hero-inner
			.hero-copy
				a.hero-logo(href='')
					img(src='/images/storytelling.svg', alt='Logo Image')
				h1 Make beautiful stories with WordPress
				p
					| Create powerfull smart and reusable Macro-Template.
				p
					| Define structured extra content.
				p
					| Story begin.
				a.button.border.story Download
			.hero-animation
				span.imac
					svg#imac
					svg#imacbottom
					svg#browser
				svg#page

	.plugins
		.inner
			h2 test