main
	.hero
		.hero-inner
			.hero-copy
				a.hero-logo(href='')
					img(src='/images/storytelling.svg', alt='Logo Image')
				h1 Make beautiful stories with WordPress
				p
					| Storytelling create powerfull smart and reusable Macro-Template.
					| Powered by WordPress, Storytelling help you to write unbelievable stories.
				a.button.border.story Download
			.hero-animation
				span.imac
					svg#imac
					svg#imacbottom
					svg#browser
				svg#page

	.howto
		.inner
			h2 test
