main.content.realisations
	!= partial("../../sections/_heros-realisation")
	!= partial("../../sections/_illustration-gauche-realisation")
	!= partial("../../sections/_double-white-realisation")
	!= partial("../../sections/_middle-gauche-realisation")
	!= partial("../../sections/_middle-droite-realisation")