div.main-wrapper.baseline.red
	div.main-container
		h2 La problématique
		p
			| Les fichiers Excel offrent de nombreux avantages: ils sont faciles à créer, à modifier, à
			| partager. Le mode connecté permet de lever la contrainte de travailler à plusieurs en même
			| temps sur le même fichier. Mais certains problèmes persistent…