div.main-wrapper.baseline.red
	div.main-container
		h2 La problématique
		p
			| Les fichiers Excel offrent de nombreux avantages: ils sont faciles à créer, à modifier, à partager.
			| Il est possible de travailler en mode connecté, ce qui permet de lever la contrainte de travailler à plusieurs sur le même fichier.