div.main-wrapper.white.souple
	div.main-container
		article
			h3 Interface souple
			p 
				| Vos utilisateurs n'ont pas tous les mêmes besoins, et il est difficile d'arriver à un compromis satisfaisant tout le monde. 
		article
			h3 Paramétrable
			p 
				| Nous offrons la possibilité à chaque utilisateur de paramétrer ses écrans par simple glisser-déposer, avec les informations qui lui sont utiles (dans la limite de ses droits).
