div.main-wrapper.bleu-soft
	div.main-container
		article
			.icon.icon-user-lock
			h4 #{ double-h4-one }
			p 
				| #{ double-p-one }
		article
			.icon.icon-setting
			h4 #{ double-h4-two }
			p 
				| #{ double-p-two }
