div.main-wrapper.bleu-soft.puissance
	div.main-container
		h2 Gestion puissante des droits
		article
			p 
				| De cette manière, vous apportez de la souplesse à vos administrateurs et diminuez les demandes d'évolution.
				| Nous offrons 2 niveaux d'administration:
			ul
				li un niveau lié à la fonction qu'occupe l'utilisateur
				li un autre lié à l'utilisateur directement, pour restreindre sa visibilité par rapport au contenu de la base de données. 
		article
			p 
				| C'est là une des grandes différence par rapport à d'autres systèmes. Votre administration peut se baser sur les données saisies.
				| Votre administrateur peut par exemple créer un login pour un de vos clients et l'autoriser à voir tout ce qui concerne son compte et uniquement son compte.
