div.main-wrapper.bleu-soft
	div.main-container
		article
			.icon.icon-user-lock
			h4 Gestion puissante des droits
			p 
				| Une gestion des droits intégralement déléguée à votre organisation. Adapter à votre organisation. Nous vous déléguons la gestion complète des droits via une interface d’administration. Vous ?
		article
			.icon.icon-setting
			h4 Interface souple paramétrable
			p 
				| Chaque application offre en standard une interface souple pour s’adapter aux besoins utilisateurs dans la limite de leurs droits.
