div.main-wrapper.double.white
	div.main-container
		h3 Des applications évolutives
		article
			p 
				| Notre objectif est de vous permettre de faire évoluer vos applications en quelques jours.
				| Nous avons automatisé le processus de migration des données d’une version vers une autre.
				| Notre système d’instance vous permet de tester vos applications en toute sécurité avant de les mettre en production.
		article
			p 
				| Les applications sont créées de manière agile: vous pouvez définir vos besoins et valider l’application étape par étape, ce qui simplifie les processus de décision.
				| Notre objectif est de vous permettre d'être réactif pour que vos applications répondent en permanence aux besoins de vos utilisateurs.
