.hero
	.hero-inner
		.hero-copy
			h1 Nous recrutons
			h2 Nous réalisons des applications depuis les spécifications juqu'au déploiement
			p 
				| QERTO est une jeune entreprise nantaise nouvellement créée, éditrice d’une plateforme dédiée à la production d’application SaaS.
