.hero
	.hero-inner
		.hero-copy
			h1 Créations d'applications par modélisation
			h2 Quand l'informatique apporte simplicité, efficacité et performance
			p 
				| Par une technologie de modélisation avancée, nous créons ensemble les applications correspondant exactement à vos besoins.
				| Le délai de création d'une application est de quelques jours à quelques semaines.
		button.qerto.red Découvrez notre produit
