.hero
	.hero-inner
		.hero-copy
			h1 Réalisation et hébergement d'applications
			h2 Nous réalisons vos applications depuis les spécifications jusqu’au déploiement
			p 
				| Vous recherchez un service rapide et sur-mesure.
				| Nous réalisons vos applications depuis vos spécifications jusqu'au déploiement.
				| Vos applications sont ensuite disponible en mode SaaS.
			a.button.qerto.red(href="#contact") Nous contacter
