div.side-image.droite
	div.content
		p
			| Nous vous proposons de maintenir le service de consultation et de recherche en mode SaaS. Notre objectif est de vous fournir une solution vous permettant de réduire fortement vos « coûts de RUN ». 
		p
			| Pour cela, nous nous appuyons sur notre plateforme, fruit de plusieurs années de R&D, qui nous permet de réaliser cette migration dans des délais courts.
		p
			| Cette plateforme permet de créer des applications de gestion par modélisation et paramétrage. 
		p
			| Une application de type archivage est plus simple pour nous à créer. Les données étant en lecture seule, s’il reste des traitements à modéliser, ils sont bien moins nombreux que pour l’application originale.
	div.images-wrapper
		img(src="/images/Serveur.png")