div.side-image.gauche
	div.images-wrapper
		img(src="/images/chronometre.png")
	div.content
		h2 Vos applications développées en quelques jours
		p
			| Vous avez besoin de faire développer une application de gestion, que ce soit pour un nouveau besoin ou une refonte d'application. Vous recherchez une solution de mise en oeuvre rapide et adaptée à votre besoin.
			| Nous nous appuyons sur la puissance de notre propre outil de génération d’applications par modélisation, fruit de plusieurs années de R&D pour réaliser vos applications sur mesure.