div.side-image.gauche
	div.images-wrapper
		img(src="/images/Serveur-animation.gif")
	div.content
		h1 Décommissionnement d'applications
		h2 Nous réalisons vos applications depuis les spécifications jusqu’au déploiement.
		p
			| Pour rationnaliser le parc informatique, la DSI peut vouloir retirer les applications dont les données n’évoluent plus. Les grands comptes peuvent avoir plusieurs dizaines de ces applications et leur décommissionnement permettra de réaliser des économies importantes.
		p
			| Le plus généralement, il faut garder un accès à ces données, que ce soit pour des raisons réglementaires, ou pour conserver les compétences métier de l’entreprise.
		p
			| Prochain enjeu majeur des SI selon Gartner, le décommissionnement d’applications est une préoccupation qui vous concerne ?
			| Nous vous proposons de vous accompagner dans cette démarche.