div.side-image.gauche
	div.images-wrapper
		img(src="/images/Serveur.png")
	div.content
		h2 Décommissionnement d'applications
		ul
			li Génération de l'application de consultation et recherche des données, 
			li Migration des données dont il faut conserver la consultation,
			li Hébergement et exploitation.
		p
			| Nous nous appuyons sur la puissance de notre outil de génération d'application par modélisation pour vous proposer une mise en oeuvre rapide (de l'ordre de la semaine).
			| Dans cet exemple, on veut préciser qu’on veut les correspondants qui sont intéressés par au moins 5 produit1, donc on ajoute le critère Quantité minimum.
		a.button.qerto.bleu-soft.border(href="#contact") Nous contacter