div.side-image.droite
	div.content
		h2 Recherche multi critères étendues
		p
			| Il vous est sûrement arrivé d'utiliser une application qui n'offre pas les critères de recherche souhaités. 
			| Avec nos solutions, vous aurez à disposition tous les critères qui ont du sens pour votre recherche.
			| Par exemple, vous êtes un commercial et vous cherchez vos contacts pour lesquels vous avez:
		ul
			li une opportunité en attente concernant le produit1 
			li pour les comptes du domaine automobile et qui sont situés en Ile de France.
	div.images-wrapper
