div.side-image.droite
	div.content
		h2 Reprise et sécurisation d'application excel
		h3 Vous apporter rapidement une solution clé en main et personnalisable par vos utilisateurs.
		p
			| Vous proposez des solutions concrètes en réponse à vos problématiques de redondance des données et de gestion des droits.
			| Vous fournir une solution rapide à réaliser et à déployer.
			| Comme pour Excel, nos interfaces offrent à vos utilisateurs de la souplesse, pour leur permettre d’avoir les informations dont ils ont besoin et d’augmenter leur efficacité.
		p
			| Offrir à vos utilisateurs des interfaces avec une souplesse, comme Excel. Permettre à vos utilisateurs d’avoir les informations dont ils ont besoin et d’augmenter leur efficacité.
	div.images-wrapper
		img(src="/images/services-excel.png")