div.middle.droite
	div.content
		p
			| Notre partenaire hébergeur français vous permet de bénéficier de coût d'hébergement et d'exploitation à coûts avantageux.
			| D'autre part, vous bénéficiez d'un accès constant aux nouvelles technologies.
		p
			| Notre offre SaaS vous permet de bénéficier de nos nouveautés au fil de l'eau.

		p
			| Vos applications suivent le cours des évolutions technologiques de manière transparente pour vous.
			| Notre objectif est de permettre à votre service informatique de gagner en réactivité.

		a.button.qerto.red(href="#contact") Nous contacter	
		
	div.images-wrapper
		.icon.icon-piggy-bank
		h3 Des coûts de run avantageux
