div.side-image.middle.droite
	div.content
		h2 Recherche flexible
		p
			| Pendant qu’il est sur un écran de recherche, l’utilisateur peut ajouter ses propres critères de recherche, parmi tous les critères possibles. 
			| Dans cet exemple, on veut préciser qu’on veut les correspondants qui sont intéressés par au moins 5 produit1, donc on ajoute le critère Quantité minimum.
	div.images-wrapper
		.icon.icon-folder-share
