div.middle.gauche
	div.images-wrapper
		.icon.icon-folder-share
		h3 Ouvrez votre SI
	div.content
		p
			| Vous voulez ouvrir votre système d'information pour:
		ul
			li permettre à vos clients de suivre l'état de leurs commandes
			li ou leur donner accès à votre catalogue produit
			li ou donner l'état du stock d'un de vos produits
			li ou leur permettre de réserver des produits, de faire des pré-commandes
	
		p
			| Avec notre système de gestion des droits, vos administrateurs pourront ouvrir votre SI à vos clients et partenaires en vous garantissant que vos clients ne voient que les données pour lesquels ils ont une autorisation (ex: leur donner accès à un catalogue produit particulier, ...)
		p 
			| L'ouverture de votre SI est facilité : vos applications sont accessibles via internet.
		
		a.button.qerto.red(href="#contact") Nous contacter			