div.middle.gauche
	div.images-wrapper
		img(src="/images/interface-personnalisable.png")
	div.content
		h2 Recherche personnalisable
		p
			| Notre outil vous offre la possibilité d’ajouter vos propres critères de recherche

