div.main-wrapper.sextuple.white
	div.main-container
		h3 3 problèmes persistent
		ul.bullets
			li.bullet.one-col-bullet
				.bullet-content
					h4 Intégrité des données
					p
						| Les données ne sont pas en qualité : bien souvent, la même donnée se trouve à plusieurs endroits. Lorsque cette donnée sera mise à jour, il est fort probable qu’elle ne le soit pas à tous les endroits où elle se trouve. Vous vous retrouvez donc rapidement avec des fichiers dont vous ne savez plus s’ils sont en qualité ou non.
				.bullet-icon.bullet-icon-1
					.icon.icon-network

		ul.bullets
			li.bullet.one-col-bullet
				.bullet-icon.bullet-icon-1
					.icon.icon-lock
				.bullet-content
					h4 Confidentialité
					p
						| La gestion des droits: Sous Excel, l’élément le plus fin pour la gestion des droits est la feuille.
						| Vous ne pouvez pas gérer les droits au niveau d’une ligne, d’une colonne ou d’une cellule.

		ul.bullets
			li.bullet.one-col-bullet
				.bullet-content
					h4 Traçabilité
					p
						| 3ème problème: l'historique est au niveau de la feuille, et non de la ligne. Si vous avez une feuille avec de nombreuses lignes, cela devient vite décourageant de connaître l'historique des données.
				.bullet-icon.bullet-icon-1
					.icon.icon-hierarchy
