div.main-wrapper.sextuple.white
	div.main-container
		ul.bullets
			li.bullet.two-col-bullet
				.bullet-icon.bullet-icon-1
					.icon.icon-user-lock
				.bullet-content
					h4 Gestion des droits puissante
					p
						| Vos administrateurs peuvent facilement paramétrer profils et filtres.
			li.bullet.two-col-bullet
				.bullet-icon.bullet-icon-2
					.icon.icon-aim
				.bullet-content
					h4 Un outil de recherche puissant
					p
						| Votre application est destiné à la consultation de données. Offrez à vos utilisateurs l'efficacité dans leur recherche.
		ul.bullets
			li.bullet.two-col-bullet
				.bullet-icon.bullet-icon-3
					.icon.icon-timer
				.bullet-content
					h4 ROI rapide
					p
						| Grâce à la création d'applications par modélisation, nous accélérons grandement le temps de réalisation de votre application.

			li.bullet.two-col-bullet
				.bullet-icon.bullet-icon-1
					.icon.icon-script
				.bullet-content
					h4 Faciliter le reporting
					p
						| La souplesse de nos interfaces permet à vos utilisateurs d'agréger les informations dont ils ont besoin
		ul.bullets
			li.bullet.two-col-bullet
				.bullet-icon.bullet-icon-2
					.icon.icon-piggy-bank
				.bullet-content
					h4 Coûts de RUN avantageux
					p
						| Bénéficiez des coûts réduits de notre offre SaaS.
			li.bullet.two-col-bullet
				.bullet-icon.bullet-icon-3
					.icon.icon-diamond
				.bullet-content
					h4 Service complet
					p
						| Migration des données, hébergement et exploitation, maintenance
		a.button.qerto.red(href="#contact") Pour vous notre offre personnalisée