div.main-wrapper.white
	div.main-container
		article
			h3 Nous recherchons de nouveaux talents

			ul
				li Des développeurs front-end,
				li Des administrateurs de base de données,
				li Un commercial


		h2 Déposer votre candidature, nous l’étudierons avec attention