div.main-wrapper.triple.grey
	div.main-container
		ul.bullets
			li.bullet.three-col-bullet
				.icon.icon-power
				.bullet-content
					h3 Réalisation express
					p
						| Notre processus de création d'application est très court, pour pouvoir créer vos applications en quelques jours à quelques semaines, et ce de manière agile.
			li.bullet.three-col-bullet
				.icon.icon-plugin
				.bullet-content
					h3 Applications évolutives
					p
						| Tout ce qui concerne la gestion des droits peut être paramétré après la création de l’application via une interface d’administration
			li.bullet.three-col-bullet
				.icon.icon-piggy-bank
				.bullet-content
					h3 Coûts de RUN avantageux          
					p
						| Tout ce qui concerne la gestion des droits peut être paramétré après la création de l’application via une interface d’administration.
		
		div.solution
			a(href="/produit/", class="button qerto bleu-soft border") Pour vous, notre solution personnalisé