div.main-wrapper.triple.grey
	div.main-container
		ul.bullets
			li.bullet.three-col-bullet
				.icon.icon-power
				.bullet-content
					h3 Réalisation express
					p
						| Notre processus de création d'application est très court, pour pouvoir créer vos applications en quelques jours à quelques semaines, et ce de manière agile.
			li.bullet.three-col-bullet
				.icon.icon-plugin
				.bullet-content
					h3 Applications évolutives
					p
						| Vous permettre de faire évoluer rapidement et à moindre coût vos applications. Nous avons
						| automatisé de nombreux processus pour accélérer la création et les évolutions de vos
						| applications. Notre objectif : que vos applications répondent en permanence aux besoins de
						| vos utilisateurs.
			li.bullet.three-col-bullet
				.icon.icon-piggy-bank
				.bullet-content
					h3 Coûts de RUN avantageux          
					p
						| Vous payez la location de notre service : vous n’avez pas besoin de prévoir de frais
						| supplémentaires pour l’infrastructure et la maintenance. Découvrez nos prix avantageux.
		
		div.solution
			a(href="/produit/", class="button qerto bleu-soft border") Pour vous, notre solution personnalisée