main.content.decommissionnement
	!= partial("../../sections/_illustration-gauche-decommissionnement")
	!= partial("../../sections/_illustration-droite-decommissionnement")
	!= partial("../../sections/_middle-droite-decommissionnement")
	!= partial("../../sections/_sextuple-decommissionnement")