main.content.produit
	!= partial("../sections/_heros-produit")
	!= partial("../sections/_double-bleu-soft-produit")
	!= partial("../sections/_double-white-produit")
	!= partial("../sections/_heros-puissance-produit")
	!= partial("../sections/_triple-bleu-soft-produit")