main.content.excel
	!= partial("../../sections/_illustration-gauche-excel")
	!= partial("../../sections/_baseline-red-excel")
	!= partial("../../sections/_sextuple-excel")
	!= partial("../../sections/_sextuple-solution-excel")