div.main-wrapper.contact.bleu
	div.main-container
		section#contact
			form#contact-form(method="", action="fake-mailer.php")
				.form
					h2 Nous contacter
					.form-left
						p
							label(for='name') Nom Prénom
							input#name(type='text', name='name', required="true")
					.form-right
						p
							label(for='society') Société
							input#society(type='text', name='society')
					.form-bottom
						p
							label(for='email') Email
							input#email(type='email', name='email', required="true")

						p.url
							label(for='url') Url
							input#url(type='text', name='url')

						p
							label(for='message') Message
							textarea#message(name='message', rows='10', required="true")

				#contact-error
				p.submit
					input.button.qerto.red(type='submit', value='Envoyer')

		
footer.footer.bleu-hard
	.footer-links
		ul
			li
				img(src='/images/Qerto-white.svg', alt='Logo image')
		ul
			li
				h3
					a(href="/produit/") Notre produit
			li
				a(href='/recrutement/') Recrutement
			li
				a(href='#contact') Contact
		ul
			li
				h3
					a(href="/services/") Services
			li
				a(href='/services/decommissionnement/') Décommissionnement d'applications
			li
				a(href='/services/realisation/') Réalisations et hébergement d'applications
			li
				a(href='/services/excel/') Reprise et sécurisation Excel

script(src="/scripts/qerto.js")
