footer.footer
	.footer-links
		ul
			li.logo
				img(src='/images/Qerto-white.svg', alt='Logo image')
		ul
			li
				h3
					a(href="/produit/") Notre produit
			li
				a(href='/recrutement/') Recrutement
			li
				a(href='#contact') Contact
		ul
			li
				h3
					a(href="/services/") Services
			li
				a(href='/services/realisation-hebergement-application/') Réalisations et hébergement d'applications
			li
				a(href='/services/decommissionnement/') Décommissionnement d'applications
			li
				a(href='/services/reprise-excel/') Reprise et sécurisation Excel

script(src="/scripts/qerto.js")
