header.navigation
	.navigation-wrapper
		a#js-mobile-menu.navigation-menu-button(href='/') MENU
		.nav
			ul#navigation-menu
				li.nav-link
					a(href='/download/') Download
				li.nav-link
					a(href='/docs/') Docs
				li.nav-link
					a(href='https://github.com/dmassiani/WordPress-Storytelling') Github